<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="RenEvo.Mud.Diagnostics.TraceSourceLoggerFactory, mud" />
    </logging>
  </common>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Logging -->
  <system.diagnostics>
    <sources>
      <source name="Default" switchName="sourceSwitch">
        <listeners>
          <add name="ConsoleLog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name="ConsoleLog" type="RenEvo.Mud.Diagnostics.ColorConsoleTraceListener, mud" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>